.door-container {
    display: flex;
    justify-content: space-around;
}

.door {
    width: 100px;
    height: 100px;
    background-color: black;
}

#button-cluster {
    display: flex;
    justify-content: center;
}

.reset {
    display: block;
    margin: auto;
}